
footer{
    width: 100%;
    height: 630px;
    margin-top: 1.8rem;
}

footer .contacts{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-top: 7.1rem;
    padding-left: 6rem;
}

footer .contacts h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.625rem;
    letter-spacing: 0.0225rem;
}

footer .contacts p{
    width: 16.8125rem;
    color: #525C60;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 160% */
    letter-spacing: 0.0225rem;
}

.contacts-first-column h3{
    color: #525C60;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4625rem; /* 130% */
    letter-spacing: 0.0225rem;
}

.contacts-first-column h2, .contacts-first-column p, .contacts-first-column h3{
    text-align: right;
}

.contacts-first-column h2{
    margin-bottom: 2.23rem;
}
.contacts-first-column h3{
    margin-bottom: 0.32rem;
}
.contacts-first-column p{
    margin-bottom: 2.37rem;
}

.contacts-second-column{
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer .contacts-second-column p{
    width: 35.4375rem;
    line-height: 2.025rem; /* 180% */
    margin-bottom: 3.75rem;
    margin-left: -0.07rem;
}

.contacts-second-column .organic_logo{
    width: 12.5rem;
    height: 3.5rem;
    margin-bottom: 2.6rem;
    margin-left: -0.2rem;
}

.contacts-second-column .icon-group{
    max-width: 558px;
    display: flex;
    gap: 1.25rem;
    margin-left: 8.15rem;
}

footer .contacts .icon-group-round{
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 6.25rem;
    background: #EFF6F1;
}

footer .contacts .icon-group-round img{
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 1.2rem;
    margin-left: 0.25rem;
}

footer .contacts .contacts-third-column{
    margin-left: -0.15rem;
}
footer .contacts .contacts-third-column h2{
    margin-bottom: 1.25rem;
}
footer .contacts .contacts-third-column p{
    margin-bottom: 1.52rem;
}

.vertical-line{
    width: 0.0625rem;
    height: 23.0625rem;
    background-color: #D5D5D5;
}

.copyright .full-line{
    margin-top: 9.18rem;
    margin-bottom: 1.4rem;
    width: 100%;
    height: 0.0625rem;
    background-color: #D5D5D5;
}

.copyright p{
    min-width: 637px;
    white-space: pre;
    padding-left: 28.5889%;
    color: #525C60;
    /* text-align: center; */
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.025rem; /* 180% */
    letter-spacing: 0.0225rem;
}

@media (max-width: 1439px){

    footer{
        margin-top: 0;
    }

    .first-vertical-line{
        display: none;
    }

    footer .contacts{
        padding-left: 0;
        align-items: center;
        width: 100%;
    }

    .contacts-second-column .icon-group{
        justify-content: center;
        margin: 0%;
    }


    .contacts-second-column{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        width: 100%;
        margin-bottom: 3rem;        
    }

    .contacts-first-column h2, .contacts-first-column p, .contacts-first-column h3{
        text-align: center;
    }
    .contacts-first-column{
        max-width: 270px;
        order: 2;
        margin: auto;
    }

    .second-vertical-line{
        order: 3;
    }
    
    footer .contacts .contacts-third-column{
        order: 4;
        max-width: 335px;
        text-align: center;
        margin: auto;
    }

    .copyright p{
        padding: 0;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width: 320px) and (max-width: 660px)
{
    footer .contacts-first-column{
        max-width: none;
        width: 100%;
        text-align: center;
    }
    
    .second-vertical-line{
        display: none;
    }

    footer .contacts p{
        width: auto;
    }

    .copyright p{
        min-width: auto;
        width: auto;
        margin: 0;
        transform: none;
        text-align: center;
        height: auto;
        white-space: normal;
        padding: 0 10px 0 10px;
    }
}

